.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list {
  text-align: left;
  
  margin: auto;
}

.submit-form {
  max-width: 700px;
  margin: auto;
}

.edit-form {
  margin: auto;
}

.container {
  max-width: 1300px;
}

.badge {
  padding: 15px 25px; 

}

.badge:nth-child(3) {
  margin-left: 20px;  
  margin-top: 30px; 
  margin-bottom: 30px;
}